div.content
 {
   margin-top:14%; 
 }
p.tip{color:#686868;font-size:20px;line-height:25px;padding:0 5%;padding-bottom:10px;border-bottom:1px solid #ccc;margin-bottom:20px;}
div.formcontent{padding:0 5%;}
div.row p.error{line-height:30px;}
div.formcontent .wrapinput{background:#e5e5e5;border:1px solid #e5e5e5;border-radius:5px;height:40px;}
div.formcontent .wrapinput label{  float: left;
  line-height: 40px;
  width: 28%;
  box-sizing: border-box;
  padding-left: 10px;}
div.formcontent .wrapinput input{float:left;height:40px;line-height:40px;width:100%;box-sizing:border-box;width:72%;border:none;


color:#656565;font:inherit;}

div.formcontent input.district{background:#f4f4f4;}
div.formcontent div.arrow{position:relative;}
div.formcontent div.arrow::after{content: "";
border-right: 2px solid #727272;
border-bottom: 2px solid #727272;
transform: rotate(-45deg);
height: 16px;
width: 16px;
position: absolute;
top: 12px;
right: 20px;}
div.formcontent input.randcode{float:left;margin-right:3%;width:65%;}
div.formcontent a.getCode{float:left;width:32%;border: 1px solid #686868;border-radius: 5px;height: 40px;line-height: 40px;text-align: center;box-sizing: border-box;}
a.btn{display:block;border-radius:2px;height:50px;background-color:#f53333;line-height:50px;color:#FFF;text-align:center;font-size:20px;margin-bottom:20px;margin-top:50px;}

div.formcontent .wrapaddr label{width:30%;box-sizing: border-box; padding-left: 10px;color:#8C8C8C;float:left;line-height:40px;}
div.formcontent .wrapaddr ul.selectUl{width:70%;float:left;}
div.formcontent .wrapaddr ul.selectUl>li{box-sizing:border-box;width:48%;/*margin-right:4%;*/height:38px;line-height:38px;border:1px solid #F94747;float:left;border-radius:5px;color:#656565;position:relative;}
div.formcontent .wrapaddr ul.selectUl>li:before{  content: "";
  width: 30px;
  height: 36px;
  position: absolute;
  background-color: #F83333;
  right: 0px;
}
div.formcontent .wrapaddr ol:after{  content: "";
    content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: #F83333;
  right: 6px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 5px;
}


.clearfix:after {content:"\200B";clear:both;display:block;height:0;}
div.formcontent .clearfix:after{
  content:"\200B";clear:both;display:block;height:0;

}
p.error
 {
	color:#f30000; 
 }