<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.staff.persistence.StaffSchedulePlanDAO">
    
   
    <cache />

    <resultMap id="StaffSchedulePlanMap" type="com.sjtu.icare.modules.staff.entity.StaffSchedulePlanEntity">
        <id property="id" column="id" />
        <result property="staffId" column="staff_id" />
        <result property="geroId" column="gero_id" />
        <result property="workDate" column="work_date" />
    </resultMap>
    
    <select id="getStaffSchedulePlans" parameterType="Map" resultMap="StaffSchedulePlanMap">
        <![CDATA[
        SELECT
            *
        FROM 
            T_STAFF_SCHEDULE_PLAN
        WHERE 
            T_STAFF_SCHEDULE_PLAN.staff_id = #{staffId}
        ]]>
    </select>


    
</mapper>