<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.staff.persistence.StaffDAO">
    

    
    <cache />
    
    <resultMap id="StaffMap" type="com.sjtu.icare.modules.staff.entity.StaffEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="nssfId" column="nssf_id" />
        <result property="geroId" column="gero_id" />
        <result property="basicUrl" column="basic_url" />
        <result property="leaveDate" column="leave_date" />
        <result property="archiveId" column="archive_id" />
    </resultMap>
   

     
    <select id="getStaffEntity" resultMap="StaffMap">
        <![CDATA[
        SELECT
			*
        FROM T_STAFF
        WHERE T_STAFF.id = #{id}
        ]]>
    </select>
 
    <select id="getAllStaffs" resultMap="com.sjtu.icare.modules.sys.persistence.UserMapper.UserMap">
    
        SELECT 
            T_USER.*
        FROM 
            T_USER
        WHERE
            T_USER.user_type = #{userType} 
            AND T_USER.gero_id = #{geroId}
		    <if test="name != null">
		        AND T_USER.name LIKE '%' + #{name} + '%'
		    </if> 
		    <if test="gender != null">
		        AND T_USER.gender = #{gender}
		    </if>
		    <if test="identityNo != null">
		        AND T_USER.identity_no like '%' + #{identityNo} + '%'
		    </if>

    </select>
 
    <select id="getAllStaffsByRoles" parameterType="User" resultMap="com.sjtu.icare.modules.sys.persistence.UserMapper.UserMap">
    
        SELECT 
            T_USER.*
        FROM 
            T_USER 
        WHERE
            T_USER.user_type = #{userType}
            AND T_USER.gero_id = #{geroId} 
		    <if test="name != null">
		        AND T_USER.name LIKE '%' + #{name} + '%'
		    </if> 
		    <if test="gender != null">
		        AND T_USER.gender = #{gender}
		    </if>
		    <if test="identityNo != null">
		        AND T_USER.identity_no like '%' + #{identityNo} + '%'
		    </if>
		    AND T_USER.id IN
		    (
		        SELECT DISTINCT(T_USER_ROLES.user_id)
		        FROM
				    (T_ROLE INNER JOIN T_USER_ROLES
		            ON
		                T_USER_ROLES.role_id = T_ROLE.id
		                AND 
		                <foreach collection="roleNameList" item="item" index="index" open="(" close=")" separator=" OR ">
		                    T_ROLE.name = #{roleNameList[${index}]}
		                </foreach>
		            )
            )
    </select>

    <insert id="insertStaff" parameterType="StaffEntity" useGeneratedKeys="true" keyProperty="id">
    	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
		    SELECT @@IDENTITY
	    </selectKey>
        INSERT INTO
            T_STAFF(name, nssf_id, gero_id, basic_url, leave_date, archive_id) 
        VALUES
            (#{name}, #{nssfId}, #{geroId}, #{basicUrl}, #{leaveDate}, #{archiveId})
            
    </insert>
    
  

    <update id="updateStaff">
    
        UPDATE
            T_STAFF
        <set>
            <if test="name != null">
            T_STAFF.name = #{name},
            </if>
            <if test="nssfId != null">
            T_STAFF.nssf_id = #{nssfId},
            </if>
            <if test="basicUrl != null">
            T_STAFF.basic_url = #{basicUrl},
            </if>
            <if test="archiveId != null">
            T_STAFF.archive_id = #{archiveId}
            </if>
        </set>
        WHERE
            T_STAFF.id = #{id}
            
            
    </update>
    

    
    <update id="deleteStaff">
    
        UPDATE
            T_STAFF
        SET
            T_STAFF.leave_date = #{leaveDate}
        WHERE
            T_STAFF.id = #{id}
            
    </update>
    

    

</mapper>