<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.staff.persistence.StaffDAO">
    
   
    <cache />

    <resultMap id="StaffEntityMap" type="com.sjtu.icare.modules.staff.entity.StaffEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="nssfId" column="nssf_id" />
        <result property="geroId" column="gero_id" />
        <result property="birthday" column="birthday" />
        <result property="basicUrl" column="basic_url" />
        <result property="leaveDate" column="leave_date" />
        <result property="archiveId" column="archive_id" />
    </resultMap>
    
    <select id="getStaffEntityById" resultMap="StaffEntityMap">
    <![CDATA[
        SELECT
			id,
			name,
			nssf_id,
			gero_id,
			basic_url,
			leave_date,
			archive_id,
        FROM T_STAFF
        WHERE T_STAFF.id = #{id}
  ]]>
    </select>


    
</mapper>