<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.staff.persistence.StaffSchedulePlanDAO">
    
   
    <cache />

    <resultMap id="StaffSchedulePlanMap" type="com.sjtu.icare.modules.staff.entity.StaffSchedulePlanEntity">
        <id property="id" column="id" />
        <result property="staffId" column="staff_id" />
        <result property="geroId" column="gero_id" />
        <result property="workDate" column="work_date" />
    </resultMap>
    
    <select id="getStaffSchedulePlans" parameterType="Map" resultMap="StaffSchedulePlanMap">

        SELECT
            *
        FROM 
            T_STAFF_SCHEDULE_PLAN
        WHERE 
            T_STAFF_SCHEDULE_PLAN.staff_id = #{staffId}
            <if test="startDate != null">
                <![CDATA[
                and #{startDate} <= convert(nvarchar(23), T_STAFF_SCHEDULE_PLAN.work_date, 120)
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                and #{endDate} >= convert(nvarchar(23), T_STAFF_SCHEDULE_PLAN.work_date, 120)
                ]]>
            </if>

    </select>
    
    <insert id="insertStaffSchedulePlans">
        insert into 
            T_STAFF_SCHEDULE_PLAN(staff_id, gero_id, work_date) 
        values
	            <foreach collection="workDate" item="item" index="index" separator="," >
	            (#{staffId}, #{geroId}, #{item})
	            </foreach>
    </insert>

    <delete id="deleteStaffSchedulePlans">
        delete from
            T_STAFF_SCHEDULE_PLAN
        where
            T_STAFF_SCHEDULE_PLAN.staff_id = #{staffId} 
            and T_STAFF_SCHEDULE_PLAN.work_date in
            <foreach collection="noworkDate" item="item" index="index" separator="," open="(" close=")">
            #{item}
            </foreach>
    </delete>
    
</mapper>