<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.staff.persistence.StaffDAO">
    

    
    <cache />
    
    <resultMap id="StaffMap" type="com.sjtu.icare.modules.staff.entity.StaffEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="nssfId" column="nssf_id" />
        <result property="geroId" column="gero_id" />
        <result property="basicUrl" column="basic_url" />
        <result property="leaveDate" column="leave_date" />
        <result property="archiveId" column="archive_id" />
    </resultMap>
   

     
    <select id="getStaffEntity" resultMap="StaffMap">
        <![CDATA[
        SELECT
			*
        FROM T_STAFF
        WHERE T_STAFF.id = #{id}
        ]]>
    </select>
    getAllStaffs
    
 
    <select id="getAllStaffs" resultMap="User">
    
        select 
          <include refid='com.sjtu.icare.modules.sys.persistence.UserMapper'/>
        from 
        <!-- 先连 user 和 staff schedule plan， 再连 user roles 和 role 相连的结果 -->
        (
            T_USER inner join T_STAFF_SCHEDULE_PLAN 
            on T_USER.user_type = #{userType}
            and T_USER.user_id = T_STAFF_SCHEDULE_PLAN.staff_id
            and T_STAFF_SCHEDULE_PLAN.gero_id = #{geroId}
                <if test="startDate != null">
                    <![CDATA[
                    and #{startDate} <= convert(nvarchar(23), T_STAFF_SCHEDULE_PLAN.work_date, 120)
                    ]]>
                </if>
                <if test="endDate != null">
                    <![CDATA[
                    and #{endDate} >= convert(nvarchar(23), T_STAFF_SCHEDULE_PLAN.work_date, 120)
                    ]]>
                </if>
        ) inner join (
        
            T_USER_ROLES inner join T_ROLE
            on 
                T_USER_ROLES.role_id = T_ROLE.id
                and T_ROLE.name = #{role}
        ) on T_USER_ROLES.user_id = T_USER.id

    </select>

</mapper>