<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
	default-lazy-init="false">
    <!-- default lazy init is false because we have to make wxMpConfigRouter finished -->
	<description>wechat Configuration</description>

    <!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:/resthouse.properties" />
	
	<bean id="wxMpConfigStorageInstance"   
	  class="me.chanjar.weixin.mp.api.WxMpInMemoryConfigStorage">  
	    <property name="appId" value="${wechat.appId}"/> 
	    <property name="secret" value="${wechat.secret}"/> 
	    <property name="token" value="${wechat.token}"/> 
	    <property name="aesKey" value="${wechat.aesKey}"/> 
	</bean>  
	<bean id="wxMpServiceInstance"   class="me.chanjar.weixin.mp.api.WxMpServiceImpl">  
	    <property name="wxMpConfigStorage" ref="wxMpConfigStorageInstance"/> 
	</bean> 
	 
	<bean id="wxMpMessageRouterInstance"   
	    class="me.chanjar.weixin.mp.api.WxMpMessageRouter" 
	    scope="singleton" >  
	    <constructor-arg ref="wxMpServiceInstance"/> 
	</bean> 
	
	<bean id="wxMpConfigRouter" 
	    class="com.sjtu.icare.modules.wechat.utils.RouterConfiguration"
	    scope="singleton">
	    <constructor-arg ref="wxMpMessageRouterInstance"/> 
	</bean>
	    
</beans>