<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.sys.persistence.RoleMapper">
	
	<resultMap id="roleResult" type="Role">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="geroId" column="geroId" />
		<result property="notes" column="notes" />
		<collection property="privilegeList" ofType="Privilege">
			<id property="id" column="rp.id" />
		</collection>
	</resultMap>
	
    <sql id="roleColumns">
    	a.id,
    	a.name,
		a.gero_id as geroId,
		a.notes
    </sql>
    
	<select id="get" resultMap="roleResult">
		SELECT
			<include refid="roleColumns"/>,
			rp.id AS "privilegeList.id"
		FROM T_ROLE a
		LEFT JOIN T_ROLE_PRIVILEGES rp ON rp.role_id = a.id
		WHERE a.id = #{id}
	</select>
	
	<select id="getByName" resultType="Role">
		SELECT
			<include refid="roleColumns"/>
		FROM T_ROLE a
		WHERE a.name = #{name}
	</select>
	
	<select id="getByNameAndGero" resultType="Role">
		SELECT
			<include refid="roleColumns"/>
		FROM T_ROLE a
		WHERE a.name = #{name}
			AND a.gero_id = #{geroId}
	</select>
	
	<select id="findList" resultType="Role">
		SELECT 
			<include refid="roleColumns"/>
		FROM T_ROLE a
		LEFT JOIN T_USER_ROLES ur ON ur.role_id = a.id
		LEFT JOIN T_USER u ON u.id = ur.user_id
		WHERE
		<if test="user != null and user.id >0">
			u.id = #{user.id}
		</if>
		<if test="user != null and user.username != null and user.username != ''">
			AND u.username = #{user.username}
		</if>
		ORDER BY a.name
	</select>
	
	<select id="findAllList" resultType="Role">
		SELECT
			<include refid="roleColumns"/>
		FROM T_ROLE a
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY id
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO T_ROLE(
			name,
			gero_id,
			notes
		) VALUES ( 
			#{name}, 
			#{geroId}, 
			#{notes}
		)
	</insert>
	
	<update id="update">
		UPDATE T_ROLE SET 
			name = #{name}, 
			gero_id = #{geroId}, 
			notes = #{notes}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteRolePrivilege">
		DELETE T_ROLE_PRIVILEGES WHERE role_id = #{id}
	</delete>
	
	<insert id="insertRolePrivilege">
		INSERT INTO T_ROLE_PRIVILEGES(role_id, privilege_id)
		<foreach collection="privilegeList" item="privilege" separator=" union all ">
			SELECT #{id}, #{privilege.id}
		</foreach>
	</insert>
	
	<delete id="delete">
		DELETE T_ROLE WHERE id = #{id} 
			AND gero_id IS NOT NULL
			AND gero_id != ''
			AND gero_id != 1
	</delete>
</mapper>