<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.elder.persistence.ElderItemDAO">
    
    <cache />
    
    <resultMap id="ElderItemMap" type="com.sjtu.icare.modules.elder.entity.ElderItemEntity">
        <id property="id" column="id" />
        <result property="elderId" column="elder_id" />
        <result property="careItemId" column="care_item_id"/>
        <result property="icon" column="icon" />
        <result property="level" column="level" />
        <result property="period" column="period" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="careItemName" column="name" />
    </resultMap>
   



    <select id="getElderItem" resultMap="ElderItemMap">
    
        SELECT 
            T_ELDER_ITEM.*, T_CARE_ITEM.name
        FROM 
            (T_ELDER_ITEM INNER JOIN T_CARE_ITEM
            ON
                T_ELDER_ITEM.care_item_id = T_CARE_ITEM.id
                AND T_ELDER_ITEM.id = #{id}
                AND T_ELDER_ITEM.elder_id = #{elderId}
                AND T_ELDER_ITEM.del_flag = 0
            )
            

    </select>
    
    <select id="getElderItems" resultMap="ElderItemMap">
    
        SELECT 
            T_ELDER_ITEM.*, T_CARE_ITEM.name
        FROM 
            (T_ELDER_ITEM INNER JOIN T_CARE_ITEM
            ON
                T_ELDER_ITEM.care_item_id = T_CARE_ITEM.id
                AND T_ELDER_ITEM.elder_id = #{elderId}
                AND T_ELDER_ITEM.del_flag = 0
            )

    </select>
 
  

    <insert id="insertElderItem">
    
        INSERT INTO
            T_ELDER_ITEM(elder_id, care_item_id, icon, level, period, start_time, end_time) 
        VALUES
            (#{elderId}, #{careItemId}, #{icon}, #{level}, #{period}, #{startTime}, #{endTime})
            
    </insert>
    
  

    <update id="updateElderItem">
    
        UPDATE
            T_ELDER_ITEM
        <set>
            <if test="elderId != null">
	            T_ELDER_ITEM.elder_id = #{elderId},
            </if>
            <if test="careItemId != null">
                T_ELDER_ITEM.care_item_id = #{careItemId},
            </if>
            <if test="icon != null">
                T_ELDER_ITEM.icon = #{icon},
            </if>
            <if test="level != null">
                T_ELDER_ITEM.level = #{level},
            </if>
            <if test="period != null">
                T_ELDER_ITEM.period = #{period},
            </if>
            <if test="startTime != null">
                T_ELDER_ITEM.start_time = #{startTime},
            </if>
            <if test="endTime != null">
                T_ELDER_ITEM.end_time = #{endTime}
            </if>
        </set>
        WHERE
            T_ELDER_ITEM.id = #{id}
            
            
    </update>
    

    
    <update id="deleteElderItem">
    
        UPDATE
            T_ELDER_ITEM
        SET
            T_ELDER_ITEM.del_flag = 1
        WHERE
            T_ELDER_ITEM.id = #{id}
            
    </update>
    

    

</mapper>