<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.elder.persistence.ElderDAO">

    <cache />
  
    <select id="getElderEntityById" resultType="ElderEntity">
        SELECT
			id,
			name,
			gero_id,
			nssf_id,
			archive_id,
			area_id,
	        care_level,
	        checkin_date,
            checkout_date,
            apply_url,
            survey_url,
            assess_url,
            track_url,
            pad_mac
        FROM T_ELDER
        WHERE T_ELDER.id = #{id}
    </select>

    <select id="getNameById" resultType="String">
        SELECT
            name
        FROM T_ELDER
        WHERE T_ELDER.id = #{id}
    </select>
    
    <select id="getPhotoById" resultType="String">
        SELECT
            photo_url
        FROM T_ELDER
        WHERE T_ELDER.id = #{id}
    </select>

    
</mapper>