<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.elder.persistence.ElderDAO">

    <cache />
    
    <resultMap type="com.sjtu.icare.modules.elder.entity.ElderEntity" id="ElderMap">
	    <id property="id" column="id" />
	    <result property="name" column="name" />
	    <result property="geroId" column="gero_id" />
	    <result property="nssfId" column="nssf_id" />
	    <result property="archiveId" column="archive_id" />
	    <result property="areaId" column="area_id" />
	    <result property="residence" column="residence" />
	    <result property="careLevel" column="care_level" />
	    <result property="checkinDate" column="checkin_date" />
	    <result property="checkoutDate" column="checkout_date" />
	    <result property="applyUrl" column="apply_url" />
	    <result property="surveyUrl" column="survey_url" />
	    <result property="assessUrl" column="assess_url" />
	    <result property="trackUrl" column="track_url" />
		<result property="padMac" column="pad_mac" />
	</resultMap>
  
    <select id="getElderEntity" resultMap="ElderMap">
        SELECT
			id,
			name,
			gero_id,
			nssf_id,
			archive_id,
			area_id,
	        care_level,
	        checkin_date,
            checkout_date,
            apply_url,
            survey_url,
            assess_url,
            track_url,
            pad_mac
        FROM T_ELDER
        WHERE T_ELDER.id = #{id}
    </select>

    <select id="getAllElders" resultMap="com.sjtu.icare.modules.sys.persistence.UserMapper.UserMap">
    
        SELECT 
            T_USER.*
        FROM 
            (T_USER INNER JOIN T_ELDER
            ON
                T_USER.user_type = #{userType}
                AND T_USER.gero_id = #{geroId}
                AND T_USER.user_id = T_ELDER.id 
	            <if test="name != null">
	                AND T_USER.name LIKE '%' + #{name} + '%'
	            </if> 
	            <if test="gender != null">
	                AND T_USER.gender = #{gender}
	            </if>
	            <if test="ageMin != null">
	                <![CDATA[
	                AND T_USER.age >= #{ageMin}
	                ]]> 
	            </if>
	            <if test="ageMax != null">
	                <![CDATA[
	                AND T_USER.age <= #{ageMax}
	                ]]> 
	            </if>
	            <if test="careLevel != null">
                    AND T_ELDER.care_level = #{careLevel}
                </if>
	            <if test="areaId != null">
                    AND T_ELDER.area_id = #{areaId}
                </if>
                
	        )    
	  
    </select>


    <insert id="insertElder" parameterType="ElderEntity" useGeneratedKeys="true" keyProperty="id">
    
        INSERT INTO
            T_ELDER(name, nssf_id, gero_id, archive_id, area_id, care_level, checkin_date, checkout_date, apply_url, survey_url, assess_url, track_url, pad_mac) 
        VALUES
            (#{name}, #{nssfId}, #{geroId}, #{archiveId}, #{areaId}, #{careLevel}, #{checkinDate}, #{checkoutDate}, #{applyUrl}, #{surveyUrl}, #{assessUrl}, #{trackUrl}, #{padMac})
            
    </insert>
    
    
    <update id="updateElder">
    
        UPDATE
            T_ELDER
        <set>
            <if test="name != null">
            T_ELDER.name = #{name},
            </if>
            <if test="nssfId != null">
            T_ELDER.nssf_id = #{nssfId},
            </if>
            <if test="archiveId != null">
            T_ELDER.archive_id = #{archiveId},
            </if>
            <if test="areaId != null">
            T_ELDER.area_id = #{areaId},
            </if>
            <if test="careLevel != null">
            T_ELDER.care_level = #{careLevel},
            </if>
            <if test="checkinDate != null">
            T_ELDER.checkin_date = #{checkinDate},
            </if>
            <if test="checkoutDate != null">
            T_ELDER.checkout_date = #{checkoutDate},
            </if>
            <if test="applyUrl != null">
            T_ELDER.apply_url = #{applyUrl},
            </if>
            <if test="surveyUrl != null">
            T_ELDER.survey_url = #{surveyUrl},
            </if>
            <if test="assessUrl != null">
            T_ELDER.assess_url = #{assessUrl},
            </if>
            <if test="trackUrl != null">
            T_ELDER.track_url = #{trackUrl},
            </if>
            <if test="padMac != null">
            T_ELDER.pad_mac = #{padMac}
            </if>
        </set>
        WHERE
            T_ELDER.id = #{id}
            
    </update>
    
    <update id="deleteElder">
    
        UPDATE
            T_ELDER
        SET
            T_ELDER.checkout_date = #{checkoutDate}
        WHERE
            T_ELDER.id = #{id}
            
    </update>
    
    
</mapper>