<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.AreaworkRecordDAO">

    <cache />
    
    <resultMap type="com.sjtu.icare.modules.op.entity.AreaworkRecordEntity" id="AreaworkRecordMap">
        <id property="id" column="id" />
        <result property="carerId" column="carer_id" />
        <result property="areaId" column="area_id" />
        <result property="areaItemId" column="area_item_id" />
        <result property="itemName" column="item_name" />
        <result property="finishTime" column="finish_time" />
        <result property="carerName" column="carer_name" />
        <result property="areaFullName" column="full_name" />
    </resultMap>
  
    <select id="getAreaworkRecords" resultMap="AreaworkRecordMap">
        SELECT
            T_AREAWORK_RECORD.*, T_USER_CARER.name AS carer_name, T_AREA.full_name AS full_name
        FROM 
            (T_AREAWORK_RECORD LEFT JOIN T_USER AS T_USER_CARER
            ON
                T_AREAWORK_RECORD.carer_id = T_USER_CARER.user_id
                AND T_USER_CARER.user_type = #{staffType})
            LEFT JOIN T_AREA
            ON
                T_AREAWORK_RECORD.area_id = T_AREA.id
        <where> 
            <if test="carerId != null">
                T_AREAWORK_RECORD.carer_id = #{carerId}
            </if>
            <if test="areaId != null">
                AND T_AREAWORK_RECORD.area_id = #{areaId}
            </if>
            <if test="startDate != null">
                <![CDATA[
                and #{startDate} <= convert(nvarchar(23), T_AREAWORK_RECORD.finish_time, 120)
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                and #{endDate} >= convert(nvarchar(23), T_AREAWORK_RECORD.finish_time, 120)
                ]]>
            </if>
        </where>
            
    </select>
    
    <insert id="insertAreaworkRecords">
    
        insert into 
            T_AREAWORK_RECORD(carer_id, area_id, area_item_id, item_name, finish_time) 
        values
            <foreach collection="list" item="item" index="index" separator="," >
            (#{item.carerId}, #{item.areaId}, #{item.areaItemId}, #{item.itemName}, #{item.finishTime})
            </foreach>
            
    </insert>
    
    
    
</mapper>