<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.AreaworkDAO">

    <resultMap id="AreaworkMap" type="com.sjtu.icare.modules.op.entity.AreaworkEntity">
        <id property="id" column="id" />
        <result property="carerId" column="carer_id" />
        <result property="areaIds" column="area_ids" />
        <result property="geroId" column="gero_id" />
        <result property="endDate" column="end_date" />
        <result property="status" column="status" />
    </resultMap>
  
    <select id="getAreaworkEntities" resultMap="AreaworkMap">
        
        SELECT
            T_AREAWORK.*
        FROM
            T_AREAWORK
        WHERE
            T_AREAWORK.gero_id = #{geroId}
            <if test="areaIds != null">
            AND T_AREAWORK.area_ids LIKE '%,' + #{areaIds} + ',%'
            </if>
            <if test="carerId != null">
            AND T_AREAWORK.carer_id = #{carerId}
            </if>
            <if test="reqStartDate != null">
                <![CDATA[
                AND #{reqStartDate} <= CONVERT(nvarchar(23), T_AREAWORK.end_date, 120)
                ]]>
            </if>
            <if test="reqEndDate != null">
                <![CDATA[
                AND #{reqEndDate} >= CONVERT(nvarchar(23), T_AREAWORK.end_date, 120)
                ]]>
            </if>
    </select>
        
    <select id="getStaffEntitiesByAreaId" resultType="StaffEntity">
        <![CDATA[ 
        SELECT 
            DISTINCT T_STAFF.id, T_STAFF.*
        FROM    
            (
            T_STAFF INNER JOIN T_STAFF_SCHEDULE_PLAN
            ON
                T_STAFF_SCHEDULE_PLAN.staff_id = T_STAFF.id
                AND T_STAFF_SCHEDULE_PLAN.work_date = #{date}
            ) INNER JOIN (
                SELECT 
                    MIN(T_AREAWORK.end_date) AS min_date, T_AREAWORK.carer_id AS carer_id
                FROM 
                    T_AREAWORK
                WHERE
                    CONVERT(nvarchar(23), T_AREAWORK.end_date, 120) > #{date}
                    AND T_AREAWORK.area_ids LIKE '%,' + CAST(#{id} AS VARCHAR(1000)) + ',%'
                GROUP BY
                    T_AREAWORK.carer_id
            ) AS T1
            ON
                T_STAFF.id = T1.carer_id
        ]]>                 
    </select>
    
    <insert id="insertAreawork">
        
        INSERT INTO
            T_AREAWORK(carer_id, area_ids, gero_id, end_date, status)
        VALUES
            (#{carerId}, #{areaIds}, #{geroId}, #{endDate}, #{status})
    
    </insert>
    
    <update id="updateAreawork">
        UPDATE
            T_AREAWORK
        <set>
            <if test="carerId != null">
            T_AREAWORK.carer_id = #{carerId},
            </if>
            <if test="areaIds != null">
            T_AREAWORK.area_ids = #{areaIds},
            </if>
            <if test="endDate != null">
            T_AREAWORK.end_date = #{endDate},
            </if>
            <if test="status != null">
            T_AREAWORK.status = #{status}
            </if>
        </set>
        WHERE
            T_AREAWORK.id = #{id}
    </update>
    
    <delete id="deleteAreawork">
        DELETE FROM
            T_AREAWORK
        WHERE
            T_AREAWORK.id = #{id}
    </delete>
    
</mapper>