<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.CareworkDAO">

    <cache />
    
    <resultMap id="CareworkMap" type="com.sjtu.icare.modules.op.entity.CareworkEntity">
        <id property="id" column="id" />
        <result property="carerId" column="carer_id" />
        <result property="elderIds" column="elder_ids" />
        <result property="geroId" column="gero_id" />
        <result property="endDate" column="end_date" />
        <result property="status" column="status" />
    </resultMap>
    
    <select id="getStaffEntitiesByElderId" resultType="StaffEntity">
        <![CDATA[ 
        SELECT 
            DISTINCT T_STAFF.id, T_STAFF.*
        FROM    
            (
            T_STAFF INNER JOIN T_STAFF_SCHEDULE_PLAN
            ON
                T_STAFF_SCHEDULE_PLAN.staff_id = T_STAFF.id
                AND T_STAFF_SCHEDULE_PLAN.work_date = #{date}
            ) INNER JOIN (
                SELECT 
                    MIN(T_CAREWORK.end_date) AS min_date, T_CAREWORK.carer_id AS carer_id
                FROM 
                    T_CAREWORK
                WHERE
                    CONVERT(nvarchar(23), T_CAREWORK.end_date, 120) >= '2015-03-24'
                    AND T_CAREWORK.elder_ids LIKE '%,' + CAST(#{id} AS VARCHAR(1000)) + ',%'
                GROUP BY
                    T_CAREWORK.carer_id
            ) AS T1
            ON
                T_STAFF.id = T1.carer_id
    
        ]]>                 
    </select>
    
    
    <select id="getCareworkEntities" resultMap="CareworkMap">
        
        SELECT
            T_CAREWORK.*
        FROM
            T_CAREWORK
        WHERE
            T_CAREWORK.gero_id = #{geroId}
            <if test="elderIds != null">
            AND T_CAREWORK.elder_ids LIKE '%,' + #{elderIds} + ',%'
            </if>
            <if test="carerId != null">
            AND T_CAREWORK.carer_id = #{carerId}
            </if>
            <if test="reqStartDate != null">
                <![CDATA[
                AND #{reqStartDate} <= CONVERT(nvarchar(23), T_CAREWORK.end_date, 120)
                ]]>
            </if>
            <if test="reqEndDate != null">
                <![CDATA[
                AND #{reqEndDate} >= CONVERT(nvarchar(23), T_CAREWORK.end_date, 120)
                ]]>
            </if>
    </select>
        
    <insert id="insertCarework">
        
        INSERT INTO
            T_CAREWORK(carer_id, elder_ids, gero_id, end_date, status)
        VALUES
            (#{carerId}, #{elderIds}, #{geroId}, #{endDate}, #{status})
    
    </insert>
    
    <update id="updateCarework">
        UPDATE
            T_CAREWORK
        <set>
            <if test="carerId != null">
            T_CAREWORK.carer_id = #{carerId},
            </if>
            <if test="elderIds != null">
            T_CAREWORK.elder_ids = #{elderIds},
            </if>
            <if test="endDate != null">
            T_CAREWORK.end_date = #{endDate},
            </if>
            <if test="status != null">
            T_CAREWORK.status = #{status}
            </if>
        </set>
        WHERE
            T_CAREWORK.id = #{id}
    </update>
    
    <delete id="deleteCarework">
    
        DELETE FROM
            T_CAREWORK
        WHERE
            T_CAREWORK.id = #{id}
            
    </delete>
      
</mapper>