<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.CareworkDAO">

    <cache />
    
    
  
    <select id="getCareworkEntityById" resultType="CareworkEntity" parameterType="int">
        SELECT
			id,
			carer_id,
			elder_id,
			start_date,
			end_date
        FROM T_CAREWORK
        WHERE T_CAREWORK.id = #{id}
    </select>
    
    <select id="getCareworkEntitiesByCarerid" resultType="CareworkEntity" parameterType="int">
        SELECT
			id,
			carer_id,
			elder_id,
			start_date,
			end_date
        FROM T_CAREWORK
        WHERE T_CAREWORK.carer_id = #{carerId}
    </select>
    
    <select id="getCareworkEntityByElderid" resultType="CareworkEntity" parameterType="int">
        SELECT
			id,
			carer_id,
			elder_id,
			start_date,
			end_date
        FROM T_CAREWORK
        WHERE T_CAREWORK.elder_id = #{elderId}
    </select>
    
</mapper>