<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.CareworkRecordDAO">

    <cache />
    
    
  
    <select id="getCareworkRecordEntityById" resultType="CareworkRecordEntity">
        SELECT
			id,
			carer_id,
			elder_id,
			elder_item_id,
			item_name,
			finish_time
        FROM T_CAREWORK_RECORD
        WHERE T_CAREWORK_RECORD.id = #{id}
    </select>
    
</mapper>