<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.CareItemDAO">

	<resultMap type="com.sjtu.icare.modules.op.entity.CareItemEntity" id="CareItemMap">
	    <id property="id" column="id" />
	    <result property="geroId" column="gero_id" />
	    <result property="name" column="name" />
	    <result property="level" column="level" />
	    <result property="period" column="period" />
	    <result property="frequency" column="frequency" />
	    <result property="notes" column="notes" />
	    <result property="delFlag" column="del_flag" />
	    <result property="startTime" column="start_time" />
	    <result property="endTime" column="end_time" />
	</resultMap>
  
    <select id="getCareItemEntitiesByGeroId" resultMap="CareItemMap">

        SELECT
			*
        FROM T_CARE_ITEM
        WHERE 
            T_CARE_ITEM.gero_id = #{geroId}
            AND T_CARE_ITEM.del_flag = 0
  
    </select>
  
    <select id="getCareItemEntityById" resultMap="CareItemMap">

        SELECT
			*
        FROM T_CARE_ITEM
        WHERE 
            T_CARE_ITEM.id = #{id}
            AND T_CARE_ITEM.gero_id = #{geroId}
            AND T_CARE_ITEM.del_flag = 0
            
    </select>
    
    <insert id="insertCareItem">
    
        insert into 
            T_CARE_ITEM(gero_id, name, icon, level, period, frequency, notes, start_time, end_time) 
        values
            (#{geroId}, #{name}, #{icon}, #{level}, #{period}, #{frequency}, #{notes}, #{startTime}, #{endTime})
            
    </insert>
    
    <update id="deleteCareItem">
    
        UPDATE
            T_CARE_ITEM
        SET
            T_CARE_ITEM.del_flag = 1
        WHERE
            T_CARE_ITEM.id = #{id}
            and T_CARE_ITEM.gero_id = #{geroId}
    
    </update>
    
    <update id="updateCareItem">
    
        UPDATE
            T_CARE_ITEM
        <set>
            <if test="name != null">
            T_CARE_ITEM.name = #{name},
            </if>
            <if test="icon != null"> 
            T_CARE_ITEM.icon = #{icon},
            </if>
            <if test="level != null">
            T_CARE_ITEM.level = #{level},
            </if>
            <if test="period != null">
            T_CARE_ITEM.period = #{period},
            </if>
            <if test="frequency != null">
            T_CARE_ITEM.frequency = #{frequency},
            </if>
            <if test="notes != null">
            T_CARE_ITEM.notes = #{notes}
            </if>
            <if test="startTime != null">
            T_CARE_ITEM.start_time = #{startTime}
            </if>
            <if test="endTime != null">
            T_CARE_ITEM.end_time = #{endTime}
            </if>
        </set>
        WHERE
            T_CARE_ITEM.id = #{id}
            and T_CARE_ITEM.del_flag = 0
    
    </update>
    
</mapper>