<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.op.persistence.CareworkRecordDAO">

    <resultMap type="com.sjtu.icare.modules.op.entity.CareworkRecordEntity" id="CareworkRecordMap">
        <id property="id" column="id" />
        <result property="carerId" column="carer_id" />
        <result property="elderId" column="elder_id" />
        <result property="elderItemId" column="elder_item_id" />
        <result property="itemName" column="item_name" />
        <result property="finishTime" column="finish_time" />
        <result property="carerName" column="carer_name" />
        <result property="elderName" column="elder_name" />
    </resultMap>
    
    
    <select id="getCareworkRecords" resultMap="CareworkRecordMap">
        SELECT
            T_CAREWORK_RECORD.*, T_USER_CARER.name AS carer_name, T_USER_ELDER.name AS elder_name
        FROM 
            (T_CAREWORK_RECORD LEFT JOIN T_USER AS T_USER_CARER
            ON
                T_CAREWORK_RECORD.carer_id = T_USER_CARER.user_id
                AND T_USER_CARER.user_type = #{staffType})
            LEFT JOIN T_USER AS T_USER_ELDER
            ON
                T_CAREWORK_RECORD.elder_id = T_USER_ELDER.user_id
                AND T_USER_ELDER.user_type = #{elderType}
        <where> 
            <if test="carerId != null">
	            T_CAREWORK_RECORD.carer_id = #{carerId}
            </if>
            <if test="elderId != null">
	            AND T_CAREWORK_RECORD.elder_id = #{elderId}
            </if>
            <if test="startDate != null">
                <![CDATA[
                and #{startDate} <= convert(nvarchar(23), T_CAREWORK_RECORD.finish_time, 120)
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                and #{endDate} >= convert(nvarchar(23), T_CAREWORK_RECORD.finish_time, 120)
                ]]>
            </if>
        </where>
            
    </select>
    
    <select id="getLatestCareworkRecords" resultMap="CareworkRecordMap">
        SELECT
            T_CAREWORK_RECORD.*, T_USER_CARER.name AS carer_name, T_USER_ELDER.name AS elder_name
        FROM 
            (T_CAREWORK_RECORD LEFT JOIN T_USER AS T_USER_CARER
            ON
                T_CAREWORK_RECORD.carer_id = T_USER_CARER.user_id
                AND T_USER_CARER.user_type = #{staffType})
            LEFT JOIN T_USER AS T_USER_ELDER
            ON
                T_CAREWORK_RECORD.elder_id = T_USER_ELDER.user_id
                AND T_USER_ELDER.user_type = #{elderType}
        WHERE
        	convert(nvarchar(10), T_CAREWORK_RECORD.finish_time, 11) = convert(nvarchar(10), (SELECT TOP 1 finish_time FROM T_CAREWORK_RECORD WHERE T_CAREWORK_RECORD.elder_id = #{elderId} ORDER BY finish_time DESC), 11)
            <if test="carerId != null">
	            AND T_CAREWORK_RECORD.carer_id = #{carerId}
            </if>
            <if test="elderId != null">
	            AND T_CAREWORK_RECORD.elder_id = #{elderId}
            </if>
        
    </select>
  
    <insert id="insertCareworkRecords">
        insert into 
            T_CAREWORK_RECORD(carer_id, elder_id, elder_item_id, item_name, finish_time) 
        values
            <foreach collection="list" item="item" index="index" separator="," >
            (#{item.carerId}, #{item.elderId}, #{item.elderItemId}, #{item.itemName}, #{item.finishTime})
            </foreach>
    </insert>
  
  
    <!--
  
    <select id="getCareworkRecordEntityById" resultType="CareworkRecordEntity">
        SELECT
			id,
			carer_id,
			elder_id,
			elder_item_id,
			item_name,
			finish_time
        FROM T_CAREWORK_RECORD
        WHERE T_CAREWORK_RECORD.id = #{id}
    </select>
    
    -->
    
</mapper>