<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.gero.persistence.GeroAreaDAO">

    <cache />
    
	<resultMap type="com.sjtu.icare.modules.gero.entity.GeroAreaEntity" id="GeroAreaEntityMap">
	    <id property="id" column="id" />
	    <result property="parentId" column="parent_id" />
	    <result property="parentIds" column="parent_ids" />
	    <result property="geroId" column="gero_id" />
	    <result property="type" column="type" />
	    <result property="level" column="level" />
	    <result property="name" column="name" />
	    <result property="delFlag" column="del_flag" />
	</resultMap>
  
    <select id="getGeroAreaEntities" parameterType="Map" resultMap="GeroAreaEntityMap">

        SELECT
			*
        FROM T_AREA
        WHERE 
            T_AREA.gero_id = #{geroId}
  
    </select>
    
    <select id="getGeroAreaEntity" parameterType="Map" resultMap="GeroAreaEntityMap">

        SELECT
            *
        FROM T_AREA
        WHERE 
            T_AREA.id = #{id}
  
    </select>
    
    <select id="getGeroSubareas" parameterType="Map" resultMap="GeroAreaEntityMap">
        <![CDATA[
        SELECT
            *
        FROM T_AREA
        WHERE 
            T_AREA.parent_ids LIKE #{parentIds} + CONVERT(varchar(1000), #{id}) + ',%'
            and T_AREA.level >= #{level}
            and T_AREA.level <= #{level} + #{subLevel}
        ]]>
    </select>
    
    
    
    
    <insert id="insertGeroAreaEntity" parameterType="GeroAreaEntity">
        insert into 
            T_AREA(parent_id, parent_ids, gero_id, type, level, name) 
        values
            (#{parentId}, #{parentIds}, #{geroId}, #{type}, #{level}, #{name})
    </insert>



    
</mapper>