<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.gero.persistence.GeroAreaDAO">

    <cache />
    
	<resultMap type="com.sjtu.icare.modules.gero.entity.GeroAreaEntity" id="GeroAreaEntityMap">
	    <id property="id" column="id" />
	    <result property="parentId" column="parent_id" />
	    <result property="parentIds" column="parent_ids" />
	    <result property="geroId" column="gero_id" />
	    <result property="type" column="type" />
	    <result property="level" column="level" />
	    <result property="name" column="name" />
	    <result property="delFlag" column="del_flag" />
	    <result property="fullName" column="full_name" />
	</resultMap>
  
    <select id="getGeroAreaEntities" parameterType="Map" resultMap="GeroAreaEntityMap">

        SELECT
			*
        FROM T_AREA
        WHERE 
            T_AREA.gero_id = #{geroId}
            <if test="parentId != null">
            AND T_AREA.parent_id = #{parentId}
            </if>
            <if test="parentIds != null">
            AND T_AREA.parent_ids LIKE '%,' + #{parentIds} + ',%'
            </if>
            <if test="geroId != null">
            AND T_AREA.gero_id = #{geroId}
            </if>
            <if test="type != null">
            AND T_AREA.type = #{type}
            </if>
            <if test="level != null">
            AND T_AREA.level = #{level}
            </if>
            <if test="name != null">
            AND T_AREA.name = #{name}
            </if>
            <if test="fullName != null">
            AND T_AREA.full_name = #{fullName}
            </if>
  
    </select>
    
    <select id="getGeroAreaEntity" parameterType="Map" resultMap="GeroAreaEntityMap">

        SELECT
            *
        FROM T_AREA
        WHERE 
            T_AREA.id = #{id}
  
    </select>
    
    <select id="getGeroSubareas" parameterType="Map" resultMap="GeroAreaEntityMap">
        <![CDATA[
        SELECT
            *
        FROM T_AREA
        WHERE 
            T_AREA.parent_ids LIKE #{parentIds} + CONVERT(varchar(1000), #{id}) + ',%'
            and T_AREA.level >= #{level}
            and T_AREA.level <= #{level} + #{subLevel}
        ]]>
    </select>
    
    <select id="getAncestorNames">
    
        SELECT
            T_AREA.name
        FROM T_AREA
        WHERE 
          <foreach item="item" index="index" collection="parentIdsList" separator=" OR ">
		      T_AREA.id = #{item}
		  </foreach>
		  
    </select>
    
    
    <insert id="insertGeroAreaRecord" parameterType="GeroAreaEntity">
        insert into 
            T_AREA(parent_id, parent_ids, gero_id, type, level, name, full_name) 
        values
            (#{parentId}, #{parentIds}, #{geroId}, #{type}, #{level}, #{name}, #{fullName})
    </insert>

    <update id="updateGeroAreaRecord" parameterType="Map">
        update
            T_AREA
        <set>
            <if test="name != null">
            T_AREA.name = #{name}
            </if>
        </set>
        where
            T_AREA.id = #{id}
    </update>

    <update id="deleteGeroAreaRecord" parameterType="Map">
    
        update
            T_AREA
        set
            T_AREA.del_flag = 1
        where
            T_AREA.id = #{id}
    
    </update>
    
</mapper>