<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.gero.persistence.GeroDAO">

    <resultMap type="com.sjtu.icare.modules.gero.entity.GeroEntity" id="GeroMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="city" column="city" />
        <result property="district" column="district" />
        <result property="address" column="address" />
        <result property="contact" column="contact" />
        <result property="licence" column="licence" />
        <result property="scale" column="scale" />
        <result property="careLevel" column="care_level" />
        <result property="contactId" column="contact_id" />
        <result property="logoUrl" column="logo_url" />
        <result property="photoUrl" column="photo_url" />
        <result property="registerDate" column="register_date" />
        <result property="cancelDate" column="cancel_date" />
    </resultMap>
  
    <select id="getGeros" resultMap="GeroMap">

        SELECT
            T_GERO.*
        FROM T_GERO
  
    </select>
    
    <select id="getGero" resultMap="GeroMap">

        SELECT
            T_GERO.*
        FROM T_GERO
        WHERE
            T_GERO.id = #{id}
  
    </select>
    
    <insert id="insertGero">
    	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
		    SELECT @@IDENTITY
	    </selectKey>
        INSERT INTO
            T_GERO(name, city, district, address, contact, licence, scale, care_level, contact_id, logo_url, photo_url, register_date, cancel_date)
        VALUES
            (#{name}, #{city}, #{district}, #{address}, #{contact}, #{licence}, #{scale}, #{careLevel}, #{contactId}, #{logoUrl}, #{photoUrl}, #{registerDate}, #{cancelDate})
    
    </insert>
    
    <update id="updateGero">
        
        UPDATE
            T_GERO
        <set>
            <if test="name != null">
            T_GERO.name = #{name},
            </if>
            <if test="city != null">
            T_GERO.city = #{city},
            </if>
            <if test="district != null">
            T_GERO.district = #{district},
            </if>
            <if test="address != null">
            T_GERO.address = #{address},
            </if>
            <if test="contact != null">
            T_GERO.contact = #{contact},
            </if>
            <if test="licence != null">
            T_GERO.licence = #{licence},
            </if>
            <if test="scale != null">
            T_GERO.scale = #{scale},
            </if>
            <if test="careLevel != null">
            T_GERO.care_level = #{careLevel},
            </if>
            <if test="contactId != null">
            T_GERO.contact_id = #{contactId},
            </if>
            <if test="logoUrl != null">
            T_GERO.logo_url = #{logoUrl},
            </if>
            <if test="photoUrl != null">
            T_GERO.photo_url = #{photoUrl},
            </if>
            <if test="registerDate != null">
            T_GERO.register_date = #{registerDate},
            </if>
            <if test="cancelDate != null">
            T_GERO.cancel_date = #{cancelDate}
            </if>
        </set>
        WHERE
            T_GERO.id = #{id}
    </update>

    <update id="deleteGero">
    
        UPDATE
            T_GERO
        SET
            T_GERO.cancel_date = #{cancelDate}
        WHERE
            T_GERO.id = #{id}
    
    </update>

</mapper>